version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: |
            pip install -r requirements.txt
            pip install coverage codecov
      - run:
          name: Test
          command: |
            coverage run test.py
            codecov

workflows:
  main:
    jobs:
      - build-and-test
